{% load static %}
<div class="row mt-5">
  <div class="col-md-4">
    <div class="wrapper">
      <img src="{{ stylist.profile_pic.url }}" alt=" No Picture here" class="image--cover">

    </div>
  </div>
  <div class="col-md-8 ml-2">
    <p class="stylist-name-field" >{{ stylist.user.name }}  <span class="badge bg-secondary">{{ stylist.rating|floatformat:1 }}</span></p>
      <p>{{reviews|length}} review(s)</p>


    <p class = 'stylist-location-field'>
              {% if stylist.region %}
              <em>{{stylist.region}} ({{stylist.region.city}})</em>
              {% endif %}
              {% if stylist.house_calls %} - <em>Available for House Calls</em>
              {% endif %}</p>
    <p class='stylist-bio-field' style="font-size:90%;">{% if stylist.bio %}
                        {{stylist.bio}}
                        {% endif %}</p>


      {% if user.pk == stylist.user.pk %}

      {% if profile_completeness != 100 %}
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{profile_completeness}}%; color:black;" aria-valuenow="{{profile_completeness}}" aria-valuemin="0" aria-valuemax="100">{{profile_completeness|floatformat:0}}%</div>
      </div>
      <span style="font-size:75%;">To maximise your <strong>profile effectiveness</strong>, update these items:</span>

      {% endif %}

      <div class="profile_progress_list">
        <ul>
          {% if profile_items.profile_pic == 0%}
            <li><a href="{% url 'stylist_app:stylist_update' pk=stylist.pk %}">Profile Picture</a> /</li>
          {% endif %}
          {% if profile_items.bio == 0%}
            <li><a href="{% url 'stylist_app:stylist_update' pk=stylist.pk %}">Profile Bio</a> /</li>
          {% endif %}
          {% if profile_items.region == 0%}
            <li><a href="{% url 'stylist_app:stylist_contact_update' pk=stylist.pk%}">Location Details</a> /</li>
          {% endif %}
          {% if profile_items.phone == 0%}
            <li><a href="{% url 'stylist_app:stylist_contact_update' pk=stylist.pk%}">Contact Details</a> /</li>
          {% endif %}
          {% if profile_items.hairstyle == 0%}
            <li><a href="{% url 'stylist_app:service_create' pk=stylist.pk%}">Hairstyle Menu</a> /</li>
          {% endif %}
          {% if profile_items.portfolio == 0%}
            <li><a href="{% url 'stylist_app:portfolio_item_create' pk=stylist.pk%}">Hairstyle Gallery</a></li>
          {% endif %}
        </ul>
      </div>
        <a class = 'btn btn-outline-dark m-2' href="{% url 'stylist_app:stylist_update' pk=stylist.pk %}">Edit Profile</a>

      {% endif %}
      {% if user.is_client %}

      <div class="btn-group">
        <a class = 'btn btn-outline-dark m-2' href="{% url 'client_app:add_favourite' pk=stylist.pk %}">Add to Favourites</a>
        <a class = 'btn btn-outline-dark m-2' href="{% url 'client_app:add_review' pk=stylist.pk %}">Review Hairstylist</a>


      </div>

      {% endif %}
  </div>
</div>
