{% extends 'base.html' %}
{% block content %}
{% load static %}
{% include 'stylist_app/messages.html' %}


<div class="container">

  {% if user.pk != stylist.user.pk %}
    <a href="{% url 'stylist_app:stylists_view' %}" class= "btn btn-outline-dark m-3"> Return to Stylists</a>
  {% endif %}

  {% include "stylist_app/_stylist_head.html" %}


  <nav>
    <div class="nav nav-tabs mb-5" id="nav-tab" role="tablist">

      <button class="nav-link active" id="nav-styles-tab" data-bs-toggle="tab"
        data-bs-target="#nav-styles" type="button" role="tab"
        aria-controls="nav-styles" aria-selected="true">Menu
      </button>

      <button class="nav-link" id="nav-gallery-tab" data-bs-toggle="tab"
        data-bs-target="#nav-gallery" type="button" role="tab"
        aria-controls="nav-gallery" aria-selected="false">Gallery
      </button>

      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
        data-bs-target="#nav-contact" type="button" role="tab"
        aria-controls="nav-contact" aria-selected="false">Contacts
      </button>

      <button class="nav-link" id="nav-reviews-tab" data-bs-toggle="tab"
        data-bs-target="#nav-reviews" type="button" role="tab"
        aria-controls="nav-reviews" aria-selected="false">Reviews
      </button>

    {% if user.pk == stylist.user.pk %}

      <button class="nav-link" id="nav-bookings-tab"
        data-bs-toggle="tab" data-bs-target="#nav-bookings" type="button" role="tab"
        aria-controls="nav-bookings" aria-selected="false">Bookings
      </button>

      <button class="nav-link" id="nav-insights-tab" data-bs-toggle="tab"
        data-bs-target="#nav-insights" type="button" role="tab"
        aria-controls="nav-insights" aria-selected="false">Insights
      </button>

    {% endif %}
    </div>
  </nav>

    <div class="tab-content">
        {% include "stylist_app/_stylist_hairstyles.html" %}
        {% include "stylist_app/_stylist_gallery.html" %}
        {% include "stylist_app/_stylist_reviews.html" %}
        {% include "stylist_app/_stylist_bookings.html" %}
        {% include "stylist_app/_stylist_insights.html" %}
        {% include "stylist_app/_stylist_contacts.html" %}
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>

</script>
{% endblock %}
