{% extends 'base.html' %}
{% block content %}
{% load static %}
{% include 'stylist_app/messages.html' %}


<div class="container">

  {% if user.pk != stylist.user.pk %}
    <a href="{% url 'stylist_app:stylists_view' %}" class= "btn btn-outline-dark m-3"> Return to Stylists</a>
  {% endif %}

  {% include "stylist_app/_stylist_head.html" %}

  <div class="stylist_info">
    <ul class="nav nav-tabs mb-3">
      <li class="nav-item active">
        <a class="nav-link" href="#styles" data-toggle="tab">Hairstyles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gallery" data-toggle="tab">Gallery</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#contact" data-toggle="tab">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#reviews" data-toggle="tab">Reviews</a>
      </li>
        {% if user.pk == stylist.user.pk %}
          <li class="nav-item">
            <a class="nav-link" href="#bookings" data-toggle="tab">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#customers" data-toggle="tab">Insights</a>
          </li>
        {% endif %}
    </ul>

    <div class="tab-content">
        {% include "stylist_app/_stylist_hairstyles.html" %}
        {% include "stylist_app/_stylist_gallery.html" %}
        {% include "stylist_app/_stylist_reviews.html" %}
        {% include "stylist_app/_stylist_bookings.html" %}
        {% include "stylist_app/_stylist_insights.html" %}
        {% include "stylist_app/_stylist_contacts.html" %}
    </div>
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>

</script>
{% endblock %}
