
/* @import url("framework.css");
@import url('home_page.css');
@import url("fontawesome-free/css/fontawesome-all.min.css"); */
/* --------------------------FRAMWORK--------------------------- */


a{font-size: 0.85em;}

/* -------------------------- End FRAMWORK--------------------------- */

/* ----------------------------Main Nav Bar------------------------------- */
.navbar {
  width: 100%;
  height:auto%;
}

.navbar-nav a{
  font-size:16px;

}

/* ----------------------------END Main Nav Bar------------------------------- */

/* ----------------------------START: STYLIST HOME PAGE------------------------- */

.hero {
  position: relative;
  text-align: center;
  padding-top: 110px;
  min-height: 600px;
  width: 100%;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  overflow: auto;
}
.hero h1 {
  font-size: 50px;
  line-height: 1.3;
}
.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}

.hero::before{

}

.stylist_home_div1{
  position:relative;
  max-width: 320px;
  padding: 5%;
  border-radius: 10px;
  float: right;
}

.stylist_home_div1::before{
  content:'';
  postion:absolute;
  top:0px;
  right:0px;
  left:0px;
  bottom:0px;
  background-color: white;
  opacity:0.5;
}


.mouse {
  clear:right;
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  position: absolute;
  bottom: 80px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.div_3{
  width: 100%;
  height: 25em;
  text-align: center;

}

.div_3_text{
  padding-top:15%;
}

.site-footer
{
  margin-top:10%;
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* -------------------------END: STYLIST HOME PAGE---------------------- */


/* -------------------------START: Contact Page---------------------- */

.sec-title
{
  position:relative;
  padding-bottom:40px;
  }

.contact-page-section{
  position:relative;
  padding-top:20px;
  padding-bottom: 110px;
  }

.contact-page-section .inner-container{
  position:relative;
  z-index:1;
  background-color:#26272b;
  box-shadow:0 0 15px 5px rgba(0,0,0,.1);
  }

.contact-page-section .form-column{
  position:relative;
  padding:0 0 0 15px;
  }

.contact-page-section .form-column .inner-column{
  position:relative;
  padding:60px 45px 30px;
  background-color:#fff;
  }

.contact-page-section .info-column{
  position:relative;
  }

.contact-page-section .info-column .inner-column{
  position:relative;
  padding:60px 35px;
  }

.contact-page-section .info-column h6{
  position:relative;
  line-height:1.4em;
  margin-bottom:45px;
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px


}

.contact-page-section .info-column .list-info{
  position:relative;
  margin-bottom:60px;
  }

.contact-page-section .info-column .list-info li{
  position:relative;
  margin-bottom:25px;
  padding-left:45px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  }

.contact-page-section .info-column .list-info li:last-child{
  margin-bottom:0;
  }

.contact-page-section .info-column .list-info li i{
  position:absolute;
  left:0;
  top:8px;
  color:#fff;
  font-size:30px;
}

.contact-form{
  position:relative;
  }
.contact-form .form-group{
  position:relative;
  margin-bottom:20px;
  }

.contact-form input[type=text],
.contact-form input[type=email],

.contact-form textarea{
  position:relative;
  display:block;
  width:100%;
  height:60px;
  color:#222;
  font-size:14px;
  line-height:38px;
  padding:10px 30px;
  border:1px solid #ddd;
  background-color:#fff;
  transition:all .3s ease;-ms-transition:all .3s ease;-webkit-transition:all .3s ease;
  }

.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus{border-color:#26272b;}
.contact-form textarea{height:250px;resize:none}

.contact-form .theme-btn{
  font-size:16px;
  font-weight:700;
  margin-top:10px;
  text-transform:capitalize;
  padding:16px 39px;
  border:2px solid #26272b;
  font-family:Arimo,sans-serif;background:#26272b;
  display:inline-block;
  position:relative;
  line-height:24px;
  cursor:pointer;
  color:#fff;
  }

.contact-form .theme-btn:hover{
  color:#26272b;
  border-color:#26272b;
  background:0 0;
  }

.contact-form input.error,
.contact-form select.error,
.contact-form textarea.error{border-color:red!important;}
.contact-form label.error{
  display:block;
  line-height:24px;
  padding:5px 0 0;
  margin:0;
  text-transform:uppercase;
  font-size:12px;
  color:red;
  font-weight:500;
  }

/* -------------------------END: Contact Page---------------------- */





/* -------------------------Stylist Profile --------------------------- */


/* profile completeness */

.completeness_div{

}

#complete_pic, #complete_bio,
#complete_hairstyle, #complete_gallery,
#complete_region, #complete_phone{
  color:red;
}



.wrapper {
  margin: 10%;

}

.image--cover {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.stylist-name-field{
  font-size: 24px;
  padding:0%;
  margin-bottom:2%;
}

.stylist-location-field{
  font-size:18px;
  margin-bottom:2%;
}

.stylist-bio-field{

}

.nav-link{
  color:black;
  font-size:18px;
}


/* ----------------------Stylist Gallery Cards--------------------------- */

.gallery-cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}

.gallery-card {
  display: inline-block;
  border: 1px solid grey;
  margin: 8px;
  max-width: 280px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
}

.gallery-card img{
  max-width:300px;
}

.card__image-holder {
    background: rgba(0,0,0,0.1);
    height: 0;
    padding-bottom: 100%;

  }

.gallery-card-title {
    padding: 6px 30px 10px;
    position: relative;
    z-index: 0;
    text-align: center;
}

.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
  }

/* ----------------- List Stylists------------------------ */





/* ------------------ Stylist Menu Price List------------------- */

.stylist-menu-body{
  max-width: 680px;
  margin: 0 auto;
  display: block;
  color:rgb(92, 92, 92);
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.menu-section-title{
  font-family: georgia;
  font-size: 30px;
  display: block;
  font-weight:normal;
  margin: 20px 0;
  text-align: Center;
}


.menu-item {
  margin: 35px 0;
  font-size: 15px;
}

.menu-item-name{
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-style: italic;
  font-size: .9em;
  line-height: 1.5em;
}

.menu-item-price{
  float: right;
  font-weight: bold;

  margin-top: -22px;
}
