{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="container">
  <h3 class="display-5">Welcome</h3>
  <p class="lead">You can now log in and update your profile</p>

  <ul>
    <li>Upload a profile picture</li>
    <li>Create your hairstyle menu</li>
    <li>Add pictures to your gallery</li>
    <li>Add your location and contact details</li>
  </ul>

  <p style="font-size:60%">*The more details your add, the easier it is for your clients</p>

  <a href="{% url 'accounts:login' %}" class="btn btn-outline-dark">Log In</a>

</div>

{% endblock%}
