{% extends 'base.html'%}

{% load static %}

{% block content %}


<div class="alert alert-success alert-dismissible fade show" role="alert">
  Hairstylists from <strong>Fourways</strong> and <strong>Sandton</strong> area are invited to Sign Up for FREE'
  <a type="button" class="close" style="float:right;" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">X</span></a>

</div>



<div class="hero" style="background: url('static/images/div1_bg.png') no-repeat center center scroll;
                            background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: contain;">
  <div class="container div_1_text">
        <h1 class="display-4"">Be that perfect Hairstylist</h1>
          <p class="lead">We help hairstylists build, grow and support a solid client base.</p>
        <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-dark">Stylist - Sign Up</a>
  </div>
</div>

<div class="container text-center mt-5 mb-5">
  <h3 class="display-5">Any Hairstylist or Barber can Sign Up</h3>
  <hr>
  <p class = "lead">Sign up now and start growing your client base and hair business</p>
  <p><strong>IT'S FREE</strong></p>
  <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-outline-dark">Stylist - Sign Up</a>

</div>


<div class="container h-100">
  <div class="row">
    <div class="col-sm-6 mb-5">
      <img src="{% static 'images/div_bg1.jpg'%}" class="card-img-top" alt="...">
      <div class="mt-3">
        <h5>Work with clients that matter</h5>
        <p>Connect with clients that value your work</p>
        <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-outline-dark">Stylist - Sign Up</a>
      </div>
    </div>
    <div class="col-sm-6 mb-5">
      <img src="{% static 'images/div_bg4.jpg'%}" class="card-img-top" alt="...">
      <div class="mt-3">
        <h5>Standout from the rest</h5>
        <p>Showcase your skill and creativity that makes you different</p>
        <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-outline-dark">Stylist - Sign Up</a>
      </div>
    </div>
  </div>
</div>



<div class="container">
    <div class="row text-center mt-4 mb-5">
      <div class="mb-3">
        <h3 class="display-5 mb-2"> Meet the lastest hairstylists</h3>
      </div>


      {% for stylist in stylists %}
      <div class="col-md-4">
        <div class="card" style="width: 16rem;">
          <div class= "text-center m-2">
            <a  href="{% url 'stylist_app:stylist_detail' pk=stylist.pk %}">
            <img src="{{ stylist.profile_pic.url }}" alt=" No Picture here" class="image--cover"></a>
          </div>

          <div class="card-body">
            <h5 class="card-title">{{ stylist.user.name }}
              <span class="badge bg-secondary">{{stylist.rating}} </span></h5>
              {% if stylist.region %}
                <h6 class="card-text">{{stylist.region}} ({{stylist.region.city}})</h6>
              {% endif %}
                <p><strong>Speciality:</strong>
                  {% for service in services %}
                    {% if service.stylist == stylist and service.top_style == True %}
                      {{service.hairstyle.name}}|
                    {% endif%}
                  {% endfor %}</p>

            <p class="card-text">{{stylist.bio|safe|truncatechars:"50"|linebreaks}}</p>
            <a class="btn btn-outline-dark" href="{% url 'stylist_app:stylist_detail' pk=stylist.pk %}">View Profile</a>
          </div>
        </div>
      </div>
      {% endfor%}
      <div class="mt-3 mb-3">
        <h5>Signing Up is Free</h5>
      </div>

      <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-outline-dark">Stylist - Sign Up</a>
    </div>
</div>


<div class="div_5" style="background: url('static/images/scissor.jpg') no-repeat center center scroll;
                        background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; height:20em;">
  <div class="text-center" style="color:white; padding-top:5em;">
    <h5>Find that perfect hairstylist</h5>
    <p>Coming Soon for Clients</p>
    <a href="{% url 'client_app:subscribe' %}" class="btn btn-warning pulse-button">Subscribe as a Client</a>

  </div>
</div>

<div class="container px-4 py-5" id="icon-grid">
   <h2 class="pb-2 border-bottom text-center">Signing up is quick and easy</h2>

   <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
     <div class="col d-flex align-items-start">
       <div class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fas fa-user-edit"></i></div>
       <div>
         <h4 class="fw-bold mb-0">1. Sign Up</h4><hr>
         <p>Register your profile as a hairstylist <strong>for free</strong>. Enter your contact details for clients to get in contact with you</p>
       </div>
     </div>
     <div class="col d-flex align-items-start">
       <div class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fas fa-clipboard-list"></i></div>
       <div>
         <h4 class="fw-bold mb-0">2. Upload</h4><hr>
         <p>Upload your menu with the hairstyles that you offer. The more detail you provide, the better for your clients</p>
       </div>
     </div>
     <div class="col d-flex align-items-start">
       <div class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="far fa-images"></i></i></div>
       <div>
         <h4 class="fw-bold mb-0">3. Populate</h4><hr>
         <p>Populate your gallery with photos and details of your best work.</p>
       </div>
     </div>
     <div class="col d-flex align-items-start">
       <div class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fas fa-users"></i></div>
       <div>
         <h4 class="fw-bold mb-0">4. Connect</h4><hr>
         <p>Use our tools to gain insights and connect with your growing client base</p>
       </div>
     </div>
     </div>
     <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-outline-dark btn-block text-center">Stylist - Sign Up</a>
   </div>



{% endblock %}
