{% extends 'base.html'%}

{% load static %}

{% block content %}

<div class="hero" style="background: url('static/images/div1_bg.png') no-repeat center center scroll;
                            background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: contain;">
  <div class="container div_1_text">
        <h1 class="display-4"">Be that perfect Hairstylist</h1>
          <p class="lead">Connect with your customers, and grow.</p>
        <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-dark">Stylist - Sign Up</a>
  </div>
</div>

<div class="container text-center mt-5 mb-5">
  <h3 class="display-5">Any Hairstylist or Barber can Sign Up</h3>
  <hr>
  <p class = "lead">Sign up now and start growing your customer base and hair business</p>
  <p><strong>IT'S FREE</strong></p>
  <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-outline-dark">Stylist - Sign Up</a>
</div>


<div class="container h-100">
  <div class="row">
    <div class="col-sm-6 mb-5">
      <img src="{% static 'images/div_bg1.jpg'%}" class="card-img-top" alt="...">
      <div class="mt-3">
        <h5>Work with customers that matter</h5>
        <p>Connect with customers that value your work</p>
        <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-outline-dark">Stylist - Sign Up</a>
      </div>
    </div>
    <div class="col-sm-6 mb-5">
      <img src="{% static 'images/div_bg2.jpg'%}" class="card-img-top" alt="...">
      <div class="mt-3">
        <h5>Standout from the rest</h5>
        <p>Showcase your skill and creativity that makes you different</p>
        <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-outline-dark">Stylist - Sign Up</a>
      </div>
    </div>
  </div>
</div>



<!-- <div class="container">
    <div class="row mt-5 mb-5 text-center">
        <h3>- Latest Hairstylists to Sign Up - </h3>

      {% for stylist in stylists %}
      <div class="col-md-4">
        <div class="card" style="width: 16rem;">
          <div class= "text-center m-2">
            <a  href="{% url 'stylist_app:stylist_detail' pk=stylist.pk %}">
            <img src="{{ stylist.profile_pic.url }}" alt=" No Picture here" class="image--cover"></a>
          </div>

          <div class="card-body">
            <h5 class="card-title">{{ stylist.user.name }}
              <span class="badge bg-secondary">{{stylist.rating}} </span></h5>
              {% if stylist.region %}
                <h6 class="card-text">{{stylist.region}} ({{stylist.region.city}})</h6>
              {% endif %}
                <p><strong>Signiture Styles:</strong>
                  {% for service in services %}
                    {% if service.stylist == stylist and service.top_style == True %}
                      {{service.hairstyle.name}}|
                    {% endif%}
                  {% endfor %}</p>

            <p class="card-text">{{stylist.bio|safe|truncatechars:"50"|linebreaks}}</p>
            <a class="btn btn-outline-dark" href="{% url 'stylist_app:stylist_detail' pk=stylist.pk %}">View Profile</a>
          </div>
        </div>
      </div>
      {% endfor%}
      <h5>Sign Up to view profiles</h5>
      <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-outline-dark">Stylist - Sign Up</a>
    </div>
</div> -->

<!-- <div class="container mt-5">
  <div class="row text-center m-4">
    <h2>Register your profile now. Its free!!</h2>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 16rem;">
        <img src="{% static 'images/dryer_right.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Grow</h5>
          <p class="card-text">Build and grow your business and customer base</p>
          <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-outline-dark">Stylist - Sign Up</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 16rem;">
        <img src="{% static 'images/tools.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Customers that matter</h5>
          <p class="card-text">Connect with customers that value your skillsets and offerings</p>
          <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-outline-dark">Stylist - Sign Up</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 16rem;">
        <img src="{% static 'images/dryer_left.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Standout</h5>
          <p class="card-text">Showcase your talents and let your creativity standout</p>
          <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-outline-dark">Stylist - Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="div_5" style="background: url('static/images/scissor.jpg') no-repeat center center scroll;
                        background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; height:20em;">
  <div class="text-center" style="color:white; padding-top:5em;">
    <h5>Find that perfect hairstylist</h5>
    <p>Coming Soon for Clients</p>
    <a href="#" class="btn btn-warning pulse-button">Subscribe as a Client</a>

  </div>
</div>

<div class="container px-4 py-5" id="icon-grid">
   <h2 class="pb-2 border-bottom text-center">Signing up is quick and easy</h2>

   <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
     <div class="col d-flex align-items-start">
       <div class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fas fa-user-edit"></i></div>
       <div>
         <h4 class="fw-bold mb-0">1. Sign Up</h4><hr>
         <p>Register your profile as a hairstylist <strong>for free</strong>. Enter you contact details for customers to get in contact with you</p>
       </div>
     </div>
     <div class="col d-flex align-items-start">
       <div class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fas fa-clipboard-list"></i></div>
       <div>
         <h4 class="fw-bold mb-0">2. Upload</h4><hr>
         <p>Upload your menu with the hairstyles that you offer. The more detail you provide, the better for your customers</p>
       </div>
     </div>
     <div class="col d-flex align-items-start">
       <div class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="far fa-images"></i></i></div>
       <div>
         <h4 class="fw-bold mb-0">3. Populate</h4><hr>
         <p>Populate your gallery with photos and details of your best work.</p>
       </div>
     </div>
     <div class="col d-flex align-items-start">
       <div class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fas fa-users"></i></div>
       <div>
         <h4 class="fw-bold mb-0">4. Connect</h4><hr>
         <p>Use our tools to gain insights and connect with your growing customer base</p>
       </div>
     </div>
     </div>
     <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-outline-dark btn-block text-center">Stylist - Sign Up</a>
   </div>



{% endblock %}
