{% extends 'base.html'%}

{% load static %}

{% block content %}


<div class="alert alert-success alert-dismissible fade show" role="alert">
  Hairstylists from <strong>Fourways</strong> and <strong>Sandton</strong> area are invited to Sign Up for FREE'
  <a type="button" class="close" style="float:right;" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">X</span></a>

</div>



<div class="hero" style="background: url('static/images/div1_bg.png') no-repeat center center scroll;
                            background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: contain;">
  <div class="container div_1_text">
        <h1 class="display-4"">Find that perfect Hairstylist</h1>
          <p class="lead">There are hairstylists for your unique needs. We'll help you find them.</p>
        <a href="{% url 'accounts:client_signup' %}" class="btn btn-dark m-1">Client - Sign Up</a>
        <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-dark m-1">Stylist - Sign Up</a>
  </div>
</div>

<div class="container">
  <div class="quote--container">
      <p class="quote">
          Life is more beautiful when you meet the right
          <span class="quote--highlight">hairstylist</span>.

      </p>
      <p class="quote--author">&ndash; Peter Coppola</p>
  </div>

</div>


<div class="container h-100">
  <div class="row mt-3">
    <div class="col-sm-6 mb-5">
      <h3 class="display-6"">Find that perfect Hairstylist, everytime</h3>

      <div class="mt-3">
        <p class="lead">Sign Up as a Client for free</p>
        <ul class="lead">
          <li>Find Hairstylist for your exact needs</li>
          <li>Connect with Hairstylists near you</li>
          <li>View menus and galleries</li>
          <li>View ratings and reviews</li>
        </ul>

        <a href="{% url 'accounts:client_signup' %}" class="btn btn-outline-dark">Client - Sign Up</a>
      </div>

    </div>
    <div class="col-sm-6 mb-3">
      <img src="{% static 'images/client_2.jpg'%}" class="card-img-top" alt="...">
      </div>
    </div>
  </div>


  <div class="container">
    <div class="quote--container">
        <p class="quote">
            Blessed are the <span class="quote--highlight">hairstylists</span>, for they bring out the beauty in others.

        </p>
        <p class="quote--author">&ndash; Anonymous</p>
    </div>

  </div>


  <div class="container h-100">
    <div class="row mt-5">

      <div class="col-sm-6 mb-5 ">
        <img src="{% static 'images/stylist_3.jpg'%}" class="card-img-top" alt="...">
      </div>

      <div class="col-sm-6 mb-5">
        <h3 class="display-6"">Be that perfect Hairstylist, everytime</h3>

        <div class="mt-3">
          <p class="lead">Sign Up as a Hairstylist for free</p>
          <ul class="lead">
            <li>Grow and maintain your client base</li>
            <li>Standout from other Hairstylist</li>
            <li>Work with clients that matter</li>
            <li>Learn about your clients changing needs</li>
          </ul>

          <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-outline-dark">Stylist - Sign Up</a>
        </div>
      </div>



    </div>
  </div>

<div class="container">
    <div class="row text-center mt-4 mb-5">
      <div class="mb-3">
        <h3 class="display-5 mb-2"> Meet the lastest hairstylists</h3>
      </div>


      {% for stylist in stylists %}
      <div class="col-md-4">
        <div class="card m-1" style="width: 16rem;">
          <div class= "text-center m-2">
            <a  href="{% url 'stylist_app:stylist_detail' pk=stylist.pk %}">
            <img src="{{ stylist.profile_pic.url }}" alt=" No Picture here" class="image--cover"></a>
          </div>

          <div class="card-body">
            <h5 class="card-title">{{ stylist.user.name }}
              <span class="badge bg-secondary">{{stylist.rating|floatformat:1}} </span></h5>
              {% if stylist.region %}
                <h6 class="card-text">{{stylist.region}} ({{stylist.region.city}})</h6>
              {% endif %}
                <p><strong>Speciality:</strong>
                  {% for service in services %}
                    {% if service.stylist == stylist and service.top_style == True %}
                      {{service.hairstyle.name}}|
                    {% endif%}
                  {% endfor %}</p>

            <p class="card-text">{{stylist.bio|safe|truncatechars:"50"|linebreaks}}</p>
            <a class="btn btn-outline-dark" href="{% url 'stylist_app:stylist_detail' pk=stylist.pk %}">View Profile</a>
          </div>
        </div>
      </div>
      {% endfor%}

      <h3 class="display-5 mt-3">All Hairstylist or Barber can Sign Up for Free</h3>
      <hr>
      <p class = "lead">Sign up now and start growing your client base and hair business</p>
      <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-outline-dark">Stylist - Sign Up</a>
</div>

</div>


<div class="div_5" style="background: url('static/images/scissor.jpg') no-repeat center center scroll;
                        background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; height:20em;">
  <div class="text-center" style="color:white; padding-top:5em;">
    <h5>Find that perfect hairstylist</h5>
    <p>Coming Soon for Clients</p>
    <a href="{% url 'client_app:subscribe' %}" class="btn btn-warning pulse-button">Subscribe as a Client</a>

  </div>
</div>

<div class="container px-4 py-5" id="icon-grid">
   <h2 class="pb-2 border-bottom text-center">Signing up is quick and easy</h2>

   <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
     <div class="col d-flex align-items-start">
       <div class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fas fa-user-edit"></i></div>
       <div>
         <h4 class="fw-bold mb-0">1. Sign Up</h4><hr>
         <p>Register your profile as a hairstylist <strong>for free</strong>. Enter your contact details for clients to get in contact with you</p>
       </div>
     </div>
     <div class="col d-flex align-items-start">
       <div class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fas fa-clipboard-list"></i></div>
       <div>
         <h4 class="fw-bold mb-0">2. Upload</h4><hr>
         <p>Upload your menu with the hairstyles that you offer. The more detail you provide, the better for your clients</p>
       </div>
     </div>
     <div class="col d-flex align-items-start">
       <div class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="far fa-images"></i></i></div>
       <div>
         <h4 class="fw-bold mb-0">3. Populate</h4><hr>
         <p>Populate your gallery with photos and details of your best work.</p>
       </div>
     </div>
     <div class="col d-flex align-items-start">
       <div class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fas fa-users"></i></div>
       <div>
         <h4 class="fw-bold mb-0">4. Connect</h4><hr>
         <p>Use our tools to gain insights and connect with your growing client base</p>
       </div>
     </div>
     </div>
     <a href="{% url 'accounts:stylist_signup' %}" class="btn btn-outline-dark btn-block text-center">Stylist - Sign Up</a>
   </div>



{% endblock %}
