{% load static %}
<div class="tab-pane fade show active" id="nav-find" role="tabpanel" aria-labelledby="nav-home-tab">

  <h4 class="display-5 text-center mb-3">Find My Hairstylists</h4>

  <div class="row">
    <div class="col-md-6 mb-4">
      <h4 class="text-center">Basic Search</h4>
      <p class="lead">Use basic search to find your perfect hairstylists in your area</p>
      <p>Available for all users</p>
      <div class="text-center">
        <a href="{% url 'stylist_app:stylists_view'%}" class='btn btn-outline-dark text-center'>Basic Search</a>
      </div>


    </div>
    <div class="col-md-6 mb-4">
      <h4 class="text-center">Advanced Search</h4>
      <p class="lead">Tell us about your unique preferences and we'll recommend a hairstylist for you</p>
      <p>Not available (Coming Soon)</p>

      <div class="text-center">
        <a href="#" class='btn btn-outline-dark'>Advanced Search</a>
      </div>

    </div>
  </div>

</div>
