{% load static %}
<div class="tab-pane fade" id="nav-recommended" role="tabpanel" aria-labelledby="nav-recommended-tab">
  <h4 class="display-5 text-center mb-3 text-center">Recommended Hairstylists</h4>

  <div class="row">
    <p class='lead'>Tell us about your unique preferences and we'll personally recommend the best hairstylist for you. Your recommendations will appear here.</p>
    <p class='text-center'><strong>Coming Soon</strong></p>
    <a class="btn btn-outline-dark m-1" href="#">Edit Preferences</a>
  </div>
</div>
