{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="container">
<p class="mt-4" style='float:right;'>Hello {{client}}</p>
<hr style="clear:both">


<nav>
  <div class="nav nav-tabs mb-5" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-find-tab" data-bs-toggle="tab" data-bs-target="#nav-find" type="button" role="tab" aria-controls="nav-find" aria-selected="true">Find</button>
    <button class="nav-link" id="nav-favourites-tab" data-bs-toggle="tab" data-bs-target="#nav-favourites" type="button" role="tab" aria-controls="nav-favourites" aria-selected="false">Favourites</button>
    <button class="nav-link" id="nav-reviews-tab" data-bs-toggle="tab" data-bs-target="#nav-reviews" type="button" role="tab" aria-controls="nav-reviews" aria-selected="false">Reviews</button>
    <button class="nav-link" id="nav-recommended-tab" data-bs-toggle="tab" data-bs-target="#nav-recommended" type="button" role="tab" aria-controls="nav-recommended" aria-selected="false">Recommended</button>
  </div>
</nav>


  <div class="tab-content" id="nav-tabContent">
    {% include "client_app/_client_search.html" %}
    {% include "client_app/_favourite_stylists.html" %}
    {% include "client_app/_reviews.html" %}
    {% include "client_app/_recommended.html" %}
  </div>

</div>

{% endblock %}
