{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">

  <div class="text-center mb-4">
    <h4 class=display-5>Clients Page</h4>
    <p class="lead">Soon you will be able to find that perfect hairstylist for your exact needs, wherever you are!!</p>
    <p class ="lead">Launching: <strong>Friday, October 1, 2021</strong></p>
    <h5></h5>
      <div class="row">
        <div class="col-sm-6">

          <div class="block">
            <span class="digit" id="months"></span>
            Months
          </div>

          <div class="block">
            <span class="digit" id="days"></span>
            Days
          </div>

        </div>

        <div class="col-sm-6">
          <div class="block">
            <span class="digit" id="hours"></span>
            Hours
          </div>

          <div class="block">
            <span class="digit" id="minutes"></span>
            Minutes
          </div>

          <div class="block">
            <span class="digit" id="seconds"></span>
            Seconds
          </div>
        </div>
      </div>


  </div>
<hr>
<div class="row">
  <div class="col-sm-6 mb-5">

    <div class="subscribe_class mt-5">
      <h5>Subscribe now for updates</h5>
      <p style="font-size:80%;"><em>We hate spam more than you do, your details are kept confidential</em></p>
    </div>

    <form method="post" action="{% url 'client_app:subscribe' %}">
      {% csrf_token %}

      <div class="form-group mb-3">
        <input type="email" name="email" class="form-control" placeholder="Enter your Email">
      </div>
      <div>
        <input type="hidden" name="name" class="form-control" placeholder="Name">
      </div>

      <div class="text-center">
          <button class="btn btn-warning" type="submit">Subscribe</button>
      </div>

    </form>
  </div>

  <div class="col-sm-6">
<img src="{% static 'images/happy_client.jpg'%}" class="card-img-top" alt="...">
  </div>

</div>
</div>




{% if messages %}
  {% for message in messages %}
    <div class="my-5 alert alert-success">
      <h5 class="m-0">
          {{ message }}
      </h5>
    </div>
  {% endfor %}
{% endif %}


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
    var dateString = new Date().getFullYear() + "/09/30";
    var deadline = new Date(dateString);

    function updateClock(){
    var today = Date();
    var diff = Date.parse(deadline) - Date.parse(today);
      if(diff<=0){
        clearInterval(interval);
      }
      else{
    var seconds = Math.floor((diff/1000)%60);
    var minutes = Math.floor((diff/1000/60)%60);
    var hours = Math.floor((diff/1000/60/60)%24);
    var days = Math.floor(diff/(1000*60*60*24)%30.5);
    var months = Math.floor(diff/(1000*60*60*24*30.5)%12);

       $("#months").text(('0'+months).slice(-2));
       $("#days").text(('0'+days).slice(-2));
       $("#hours").text(('0'+hours).slice(-2));
       $("#minutes").text(('0'+minutes).slice(-2));
       $("#seconds").text(('0'+seconds).slice(-2));

      }//EOF ELSE

    }//EOF FUNCTION

   var interval = setInterval(updateClock,1000);

  });//EOF DOCUMENT.READY
</script>
{% endblock %}
