{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <a href="{% url 'stylist_app:stylist_detail' pk=review.stylist.pk%}" class='btn btn-outline-dark m-2'>Back to Hairstylist</a>
  <h4 class='text-center'>Summary of {{review.stylist.user.name}}'s Reviews</h4>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Reviewed by:</strong> {{review.client.user.name}}</li>
    <li class="list-group-item"><strong>Appointment date:</strong> {{review.appointment|date:"D, d-m-Y"}}</li>
    <li class="list-group-item"><strong>Value for money:</strong> {{review.value}}/5</li>
    <li class="list-group-item"><strong>Hygiene:</strong> {{review.hygiene}}/5</li>
    <li class="list-group-item"><strong>Expectations met:</strong> {{review.expectation}}/5</li>
    <li class="list-group-item"><strong>Craft/Skill:</strong> {{review.craft}}/5</li>
    <li class="list-group-item"><strong>Professionalism:</strong> {{review.professional}}/5</li>
    <li class="list-group-item"><strong>Comments:</strong> {{review.comment}}</li>
    <li class="list-group-item"><strong>Would you recommend {{review.stylist.user.name}}?:</strong> {{review.recommendation}}</li>
    <li class="list-group-item"><strong>Total Average Rating</strong> {{review.total_rating}}/5</li>
  </ul>


      {% if user.pk == review.client.user.pk %}
        <a href="{% url 'stylist_app:stylist_detail' pk=review.stylist.pk%}" class='btn btn-outline-dark m-2'>Submit</a>
        <a class='btn btn-outline-dark' href="{% url 'client_app:update_review' pk=review.pk%}">Edit</a>
        <a class='btn btn-outline-danger' href="{% url 'client_app:delete_review' pk=review.pk%}">Delete</a>
      {% endif %}

</div>

{% endblock %}
